.upload-container {
    background-color: rgb(183, 181, 181);
    border-radius: 10px;
    padding: 3vh;
    width: 40vw;
    margin: auto;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2vh;
    font-size: 2em;
}

.botao_direcionador {
    background-color: rgb(78, 78, 254);
    color: white;
    font-size: 1.2em;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 1vh;
}

.botao_direcionador:hover {
    background-color: white;
    color: rgb(78, 78, 254);
    border: 2px solid rgb(78, 78, 254);
}

.texto_direcionador {
    font-size: 1.2em;
    padding: 1vh;
}

input {
    margin-bottom: 1vh;
    padding: 5px;
    border: 2px solid rgb(78, 78, 254);
    border-radius: 5px;
    cursor: pointer;
}

#progressBar {
    width: 50%;
    height: 20px;
    margin-top: 10px;
    background-color: #f0f0f0;
}

#uploadProgress {
    width: 0;
    height: 100%;
    background-color: #4caf50;
}

.loading, .feedback {
    margin-top: 10px;
    display: none;
}

.loading, .feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spinner-border {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.goto {
    display:  flex;
    flex-direction:  row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.arrow {
    font-size: 1.5em;
}

.headerusp {
    background-color: #1094AB;
}

.logo {
    width: 30dvw;
}