.headerusp {
    background-color: #1094AB;
}

.logo {
    width: 30dvw;
}


tr {
    border: 2px solid rgba(69, 68, 68, 0.2);
}



.loadbutton {
    background-color: #F6AE38;
    border-color: #F6AE38;
    margin-top: 4dvh;
    margin-bottom: 2dvh;
}



.scrollable-div {
    max-height: 65dvh; /* Defina a altura máxima desejada */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
}

.visualizar {
    background-color: #1094AB;
    border: none;
}

.encaminhar {
    background-color: #F6AE38;
    border: none;
}

.avaliacao {
    background-color: #F6AE38;
    border: none;
}

.confirmar {
    background-color: rgb(5, 167, 129);
    border: none;
}

.informações {
    background-color: #26c10e;
    border: none;
}

.historico {
    background-color: rgb(83, 91, 88);
    border: none;
}

.titulo-tabela{
    padding-bottom: 3dvh;
    padding-top: 2dvh;
}

.mainframe {
    width: 70dvw;
    background-color: white;
    margin-bottom: 10dvh;
}

.titulo-home{
    padding-bottom: 3dvh;
    padding-top: 2dvh;
    padding-left: 3dvw;
    border-bottom: 5px solid #F6AE38;
}

.info {
    display: flex;
    flex-direction: row;
}

.info_unit {
    margin-left: 15px;
}

.selecionadas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3dvh;
}

.selecionatodos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 12dvw;
}

.selecionatodos > p {
    margin: 0;
}

.select-row {
    background-color: #F6AE38;
}